html {
  min-height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }

  dialog article {
    min-width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 95%;
  }

  dialog article {
    min-width: 75%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 90%;
  }

  dialog article {
    min-width: 60%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1130px;
  }

  dialog article {
    min-width: 50%;
  }
}

header {
  text-align: center;
}

td, th {
  padding: 0.5rem 0.25rem;
}

.roster td:first-child, .roster th:first-child {
  width: 3em;
}

.roster td:nth-child(2), .roster th:nth-child(2) {
  width: 9em;
}

.roster select {
  margin: 0;
  padding: 5px;
  width: 6em;
  height: 2em;
}

.spawn-points th:first-child, .spawn-points td:first-child {
  width: 2em;
}

.unit-list td:first-child, .unit-list th:first-child {
  width: 9em;
}

.unit-list td:nth-child(2), .unit-list th:nth-child(2) {
  width: 6em;
}

.unit-list [data-dead=true] td {
  text-decoration: line-through;
}

.button-group ul {
  margin: auto !important;
}

.button-group li {
  padding-left: 0;
  padding-right: 0;
}

.button-group li button {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-width: 1px;
}

.button-group li:first-child button {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  margin-left: 5px;
}

.button-group li:last-child button {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-right: 5px;
}

button.small, nav button {
  padding: 0px 6px;
  display: inline;
  width: auto;
  margin: 5px;
}

.retinue, .transport {
  display: inline;
}

.retinue span, .transport span {
  position: absolute;
  font-size: 0.6em;
}

.retinue select, .transport select {
  margin: 0.8em 0.5em 0px 0px;
  padding: 5px;
  width: 12em;
  height: 2em;
}

.unit-status {
  width: 7em;
}

.unit-status label {
  display: inline-block;
}

.unit-status label span {
  position: absolute;
  font-size: 0.6em;
}

.unit-status input[type="number"] {
  margin: 0.8em 0.5em 0px 0px;
  padding: 5px;
  width: 2.5em;
  height: 2em;
}

.unit-status input[type="checkbox"] {
  margin: 1.3em 0.5em 0px 0px;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: initial;
}

header {
  position: relative;
}

header button {
  position: absolute;
  top: calc(50% - 1em);
  right: 1em;
}

article {
  margin: 1em 0;
}

article p:last-child {
  margin-bottom: 0;
}

.open-help {
  cursor: help;
  margin-left: 2em;
  margin-bottom: 1.5em;
}
.open-help:after {
  content: " 🛈";
  vertical-align: super;
  font-size: 0.6em;
  color: var(--primary-hover);
}

.strategem {
  text-align: center;
}

.post-battle button {
  width: auto;
}

[data-tooltip]::before, [data-tooltip]::after {
  min-width: 15em;
  white-space: pre-wrap;
}

a.close {
  font-size: 0;
}

dialog details {
  white-space: pre-wrap;
}

strike[data-tooltip] {
  text-decoration: line-through;
}
